.pattern {
  width: 465px;
  height: 759px;
  background: url('../src/resources/img/main-screen/13380728_5183425.jpg') no-repeat;
  background-size: cover;
}

.deck_image {
  width: 217px;
  height: 325.58px;
}
